// COLORS
// =============================
$color-primary: #7c5dfa;
$color-primary-light: #9277ff;
$color-text: #0c0e16;
$color-light: #858bb2;
$color-dark: #373b53;
$color-paid: #33d69f;
$color-paid-bg: #F3FDF9;
$color-pending:#FF8F00;
$color-pending-bg:#FFF8F0;
$color-draft: #373B53;
$color-draft-bg: #F3F3F5;
$color-btn-edit: #F9FAFE;
$color-btn-delete: #EC5757;

// FONTS 
// ===============================
$font-primary: 'Spartan', sans-serif;

